# Missing Data
___

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame({'A':[1,2,np.nan],
                  'B':[5,np.nan,np.nan],
                  'C':[1,2,3]})

In [11]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [12]:
df.to_csv('test_NaN.csv',index=False)

## 1. Delete all rows which have NaN value

In [5]:
df.dropna()

     A    B  C
0  1.0  5.0  1

## 2. Delete all columns which have NaN value

In [7]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [8]:
df.dropna(axis=1)

   C
0  1
1  2
2  3

## 3. Delete all rows which have 2 or more NaN values

In [14]:
df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

## 4. Replace NaN value with 'some value'

In [9]:
df.fillna(value='zhamri')

        A       B  C
0     1.0     5.0  1
1     2.0  zhamri  2
2  zhamri  zhamri  3

In [10]:
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64