# Operations
___

In [5]:
import pandas as pd

data = {'col1': [1, 2, 3, 4], 'col2': [444, 555, 666, 444], 'col3': ['abc', 'def', 'pqr', 'xyz']}
df = pd.DataFrame(data)
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

### To find Unique Values

In [6]:
df['col2'].unique()

array([444, 555, 666])

In [7]:
df['col2'].nunique()

3

In [8]:
df['col2'].value_counts()

444    2
666    1
555    1
Name: col2, dtype: int64

### Selecting Data

In [9]:
df_new = df[(df['col1'] > 2) & (df['col2'] == 444)]

In [10]:
df_new

   col1  col2 col3
3     4   444  xyz

### Applying Functions

In [11]:
def times2(x):
    return x * 2

In [12]:
df['col1'].apply(times2)

0    2
1    4
2    6
3    8
Name: col1, dtype: int64

In [13]:
df['col3'].apply(len)

0    3
1    3
2    3
3    3
Name: col3, dtype: int64

In [14]:
df['col1'].sum()

10

### Permanently Removing a Column

In [15]:
del df['col1']

In [16]:
df

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  xyz

### Get column and index names

In [17]:
df.columns

Index(['col2', 'col3'], dtype='object')

In [18]:
df.index

RangeIndex(start=0, stop=4, step=1)

## Sorting and Ordering a DataFrame

In [19]:
df

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  xyz

In [20]:
df.sort_values(by='col2')  #inplace=False by default

   col2 col3
0   444  abc
3   444  xyz
1   555  def
2   666  ghi

## Find Null Values or Check for Null Values

In [21]:
df.isnull()

    col2   col3
0  False  False
1  False  False
2  False  False
3  False  False

In [22]:
# Drop rows with NaN Values
df.dropna()

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  xyz

## Filling in NaN values with something else

In [26]:
import numpy as np

df = pd.DataFrame({'col1': [1, 2, 3, np.nan],
                   'col2': [np.nan, 555, 666, 444],
                   'col3': ['abc', 'def', 'ghi', 'xyz']})
df.head()

   col1   col2 col3
0   1.0    NaN  abc
1   2.0  555.0  def
2   3.0  666.0  ghi
3   NaN  444.0  xyz

In [27]:
df.fillna('UUM')

  col1   col2 col3
0  1.0    UUM  abc
1  2.0  555.0  def
2  3.0  666.0  ghi
3  UUM  444.0  xyz